*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Agency FB', arial;
}

/* //////////////////////MOBILE VERSION OF MAIN PAGE///////////////////// */

#logo{
    display: none;
}
article{
    display: none;
}
.pcfooter{
    display: none;
}
iframe{
    display: none;
}
.articlecolumns img{
    display: none;
}
.pcnav{
    display: none;
}

/* /////////////////////Header//////////////////////////// */
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    width: 70%;
    height: 65%;
}

@media only screen and (min-width: 550px) {

    .mobilenav img{
        width: 33%;
    }
    .mobilenav section{
        width: 33%;
    }
    

}
@media only screen and (max-width: 549px){
    .mobilenav img{
        width: 18vw;
        height: 10vh;
    }
    .mobilenav section{
        width: 48vw;
    }
    
}



/* /////////////////Navigation bar//////////////////////// */
.mobilenav{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(27, 25, 25);
    text-align: center;

}

#minigmobilenav img{
    
    width: 50px;
    height: auto;
}
#minigmobilenav{
    text-align: center;
    margin-top: 1vh;
}
.mobilenav .navb{
    text-decoration: none;
    padding: 3vw;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
}

header{ 
    min-height:80px;
}
  






/* //////////////////////////Articles & About Us/////////////////////////// */
#motto h1{
  color: white;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 5vw;
  font-size: 110%;
  text-decoration:underline solid white;
}

#motto{
    height: 15%;
}





/* ////////////////////Body//////////////////////// */
body
{     
    min-height: 60vh; 
    margin: 0;    
    background-color: rgb(27, 25, 25);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ////////////////////////End Of Main Page//////////////////// */

/* MINIGAMES PAGE CSS PART*/

.games{
    margin-top: 2vh;
    width: 100%;
    text-align: center;
}

.games img {
    height: 20vw;
    border-radius: 15%;
    box-shadow: rgb(137, 111, 138) 0px 0px 30px  ;
}

#gamesgrid {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Agency FB', Arial;
   
}

.games h2 {
    text-align: center;
    color: white;
    padding-top: 2vw;
    text-decoration: none;
    
}

.we {
text-align: center;
color: white;
padding-top: 2vw;
text-decoration: none;
}


/* MINIGAMES PAGE CSS PART END*/
/* ////////////////////////End Of Main Page//////////////////// */




/* ////////////////////////GALLERY//////////////////// */
.row{
    display: none;
}

.mySlides {
    display: none;
  }

.photos {
    box-sizing: border-box;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .slideshow-container {
    position: relative;
    margin: auto;
    max-width: 1025px;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
