*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Agency FB', arial;
}

/* /////////////////////Main Page Start////////////////////////// */
/*/////////////////////////Mobile Version of Main Page////////////////////////*/
@media only screen and (min-width: 1024px){
    
}




/* /////////////////////Header//////////////////////////// */
header{   
    display: flex;    
    align-items: center;
    justify-content: center;
}
#moblogo{
    display: none;
}
#logo{
    width: 100%;
    height: 90%;
}
/* /////////////////Navigation bar//////////////////////// */
.pcnav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(27, 25, 25);

}
.pcnav .navb{
    padding: 3vw;
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
}
.pcnav .navb:hover{
    background-color: gray;
    color: rgb(56, 53, 53);
    border-radius: 10%;
    
}
.pcnav img {
    height: 6vw;
    align-items: center;
    justify-content: center;
}
.mobilenav{
    display: none;
}


/* //////////////////////////Articles & About Us/////////////////////////// */
#motto h1{
  color: white;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 5vw;
  font-size: 3vw;
  text-decoration:underline solid white ;
}
.aboutus {
    padding-left: 2vw;
    padding-right: 2vw;
}
.aboutus h1{
    text-align: center;
    color: white;
    padding-bottom: 2vw;
    font-size: 2vw;
}
.aboutus h2{
    color: white;
    background-color: none;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
}
.articlecolumns{
    padding:10px;
    color: bisque;
    margin-top: 150px;
}
.rightside {
   margin-top: 5vw;
   margin-bottom: 5vw;
}
.leftside{
    margin-top: 25px;
    
}
.articlecolumns:after {
    content: "";
    display: table;
    clear: both;
}
#more{
    display: none;
}
#more2{
    display: none;
}
#imgleft{
    float:left;
    width: 13vw;
}

#imgright{
    float:right;
    width: 13vw;
}

#myBtn {
    text-decoration: underline solid white 0.5px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}

#myBtn2 {
    text-decoration: underline solid white 0.5px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}

.articlecolumns h1 {
    font-size: 3vw;
    text-decoration: underline solid white 0.2px;
}
.articlecolumns img {
    padding-left: 2vw;
    padding-right: 2vw;
}

.articlecolumns h2 {
    width: 87vw;
    text-align: justify;
    color: rgb(255, 255, 255);
   
}






/* ////////////////////Body//////////////////////// */
body
{
    background-color: rgb(27, 25, 25);
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/* /////////////////FOOTER//////////////////////////////// */
.mobilefooter{
    display: none;
}
.pcfooter{
    
    color: white;
    background-color: black;
    height: 20vh;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
}
.pcfooter iframe{
    float:right;
    width: 30%;
    margin-right: 2vw;
}
#mapscontainer h2{
    float: right;
    transform:rotate(-90deg);
    margin-top: 70px;
    font-size: 17px;
    justify-content: center;
    width: 10%;
    white-space: pre;
}
#place h2{
    float:left;
    display: flex;
    margin-right: 20px;
    white-space: pre;
    width: 10%;
}
#time{
    width: 20%;
    float: left;
    display: flex;
    justify-content: center;
    white-space: pre;
}
#leftsideday{    
    padding-right: 4vw;
}
/* ////////////////////////End Of Main Page//////////////////// */    

/* ///////////////////Gallery Page/////////////////////// */
.row {
    
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-top: 0.00001vw;
    border-top:  rgb(49, 49, 49) 0.2vw dotted;
    margin-top: 3.9vw;
}
.column {
    
    flex: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
}


/*////////////////////////////Music Page///////////////////////////////*/

#musiclist{
    text-align: center;
    margin-top: 50px;
}

/*OUR STAFF PAGE CSS PART*/

#ourstaff {
    box-sizing: border-box;
}

.wake {
    margin-top: 5vw;
}

.left img {
    border-radius: 100%;
    height: 8vw;
    border: solid rgb(125, 123, 123) 0.1vw;
}

.col {
    float: left;
}

.left {
   width: 10%;
}

.center {
    width: 60%;
}

.right {
    width: 30%;
    padding-left: 7vw;
}

.raw {
    padding-bottom: 2vw;
    padding-top: 5vw;
    border-bottom: solid 0.2vw rgb(49, 49, 49);
}     

.raw:after {
    content: "";
    display: table;
    clear: both;
  }

  .center h1 {
    color: white;
    padding-bottom: 1vw;
  }

  .center h2 {
    color: white;
    font-size: 1.4vw;
    text-align: justify;
}


/*OUR STAFF PAGE CSS PART END*/


/* MENU PAGE CSS PART*/


#menubody {
    background-image: url("images/menu.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
}
.dot{
    border-bottom: dotted 2px rgb(255, 255, 255);
    width: 500px;
    float: left;
    position: relative;
    display: block;
    height: 12px;
    margin: 0 2vw 0 2vw;
}

.item {
    color: white;
    font-size: 1.5vw;
}

.container {
    display: flex;
}

.bigcontainer {
    background-color: rgba(118, 113, 113, 0.381);
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-bottom: 1.7vw ;
}

.one {
    padding-left: 2vw ;
}

.drinkname h2 {
    color: white;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-top: 1vw;
}



.men {
    float: left;
}

.container1 {
    width: 20%;
}
.container2  {
    width: 60%;
    border-bottom: dotted white;
}
.container3 {
    width: 20%;
}


.bigcontainer1:after {
    content: "";
    display: table;
    clear: both;
  }
  .bigcontainer1 {
    background-color: rgba(118, 113, 113, 0.381);
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-bottom: 1.7vw ;
}


/* MENU PAGE CSS PART END*/


/* NEWS PAGE CSS PART*/

.newspic img {
    height: 10vw;
    
}
.newspic{
    margin-top: 6px;    
    text-align: center;
}

.newstext h1{
color: rgb(0, 0, 0);
text-align: center;
}
.newstext h2{
    color: rgb(0, 0, 0);
    }

.holder {
    background-color: rgba(255, 255, 255, 0.666);
    border:solid;    
    margin: 15px;
    padding: 0 4px;
    display: flex;
    flex-wrap: wrap;
    flex: 25%;
    justify-content: space-around;
    margin-top: 8vw;
    
    
}
#newsgrid{
    
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
#staff{
    text-align: center;
    color: white;
    font-size: 1.5vw;

}
/* NEWS PAGE CSS PART END*/

/* MINIGAMES PAGE CSS PART*/

.games img {
    height: 20vw;
    border-radius: 15%;
    box-shadow: rgb(137, 111, 138) 0px 0px 30px  ;
}

#gamesgrid {
    display: flex;
    flex-wrap: wrap;
   
}

.games { 
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
    padding-top: 5vw;
    margin-right: 4%;
    margin-left: 4%;
}

.games h2 {
    text-align: center;
    color: white;
    padding-top: 2vw;
    text-decoration: none;
    
}

.we {
text-decoration: none;
text-align: center;
color: white;
padding-top: 2vw;
text-decoration: none;
}


/* MINIGAMES PAGE CSS PART END*/


/* FUCKYEAH PAGE CSS PART*/

#myDIV {
    -webkit-animation: mymove 0.2s infinite;
    animation: mymove 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: 0;
  }
  
  @keyframes mymove {
    0% {
        background-color: #fb0000
    }
    10% {
        background-color: #fb6400
    }

    20% {
        background-color: #fbe200
    }
    30% {
        background-color: #a7fb00
    }

    40% {
        background-color: #0dff00
    }
    50% {
        background-color: #00fb64
    }

    60% {
        background-color: rgb(2, 240, 216)
    }

    70% {
        background-color: #0055ff
    }
    80% {
        background-color: #000dff
    }
    90% {
        background-color: #7b00ff
    }
    100% {
        background-color: #d900ff
    }
  }

#fu{
    font-size: 18vw;
    animation-name: FadeIn;
    
    animation-fill-mode: backwards;
    text-align: center;
    animation: FadeIn 1s infinite;
    animation-delay: 0;
    }



@keyframes FadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


.skull {
    height: 10vw;
    
}

.panda {
    float: right;
    margin-right: 2vw;
    margin-top: 2vw;
}

.snake {
    float: right;
    margin-right: 2vw;
    margin-top: 2vw;
}

.giraffe {
    margin-left: 2vw;
    margin-top: 2vw;
}

.penquin {
    margin-left: 2vw;
    margin-top: 2vw;
}

/* FUCKYEAH PAGE CSS PART END*/
