*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* /////////////////////Header//////////////////////////// */
.container-header{   
    display: flex;    
    align-items: center;
    justify-content: center;
    
}

.container-header img{
    width: 100vw;
    height: 90%;
}
/* /////////////////Navigation bar//////////////////////// */
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#hell {
    height: 6vw;
    align-items: center;
    justify-content: center;


}
#motto{
  color: white;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 5vw;
  font-size: 3vw;
  text-decoration:underline solid white ;
}
#aboutus{
  
    padding-left: 2vw;
    padding-right: 2vw;
    
}
#think{
    text-align: center;
    color: white;
    padding-bottom: 2vw;
    font-size: 2vw;
}
#hello{
    color: white;
    background-color: none;
    padding-left: 3vw;
    padding-right: 3vw;
}
#right {
    float: right;
}
.menu{
    padding: 3vw;
    font-size: 1.5vw;
    color: white;
}
/* ////////////////////Body//////////////////////// */
body
{
    background-color: rgb(27, 25, 25);
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}


/* /////////////////FOOTER//////////////////////////////// */
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    height: 50vh;
}





/* .testingshit{
    padding-left: 0ch;
}
aijaefergjiksjgwerhuajsdfhwe4zrudasjh
so
should we ahve another shot?

hey Maria

.crazysexy{
    loool you so gud at dancing
    thaaank u:)))))))))
    :>>>>>>>>>>>>>>>>>>>>
    :33333333
    whats up
    do landing
     no
     please?
     i want to dance

     ...b.
     ut then we can do it
     sure?




     
}